/* General */
Body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}
h1, p {
    font-size: 1em;
    font-weight: normal;
    color: #777; 
    margin: 0;
}

/* Head, Nav, Foot Boxes */
header, nav, footer {
    background: #ebebeb;
    margin-bottom: 10px;
    padding: 40px 0;
    clear: both;
}
/* Section and Aside Boxes */
#sectionLeft, #asideRight {
    display: inline-grid;
    position: relative;
    margin: 10px 0;
    width: 475px;
    height: 350px;
    background: #ebebeb;
}
#sectionLeft {
    float: left;
}
#asideRight {
    float: right;
}
.theMiddle h1 {
    position: relative;
    top: 30px;
}

/* Article Inside Section Box */
article {
    margin: 12px;
    padding: 0 15px;
    color: #ebebeb;
    background: #777777;
}

/* boxes in article */
.smallBox {
    position: relative;
    top: 20px;
    height: 60px;
    margin-bottom: 10px;
    background: #ebebeb;
    color: #777;
}
.smallBox h2, .smallBox p {
    padding: 10px 0; 
}